/* MPS COMPONENTS */
.mps-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.mps-btn, .mps-btn-hollow, .mps-btn-sec-hollow, .mps-btn-sec, .mps-application-form #MainContent button.form-submit {
  display: inline-block;
  font-family: "Gotham SSm A","Gotham SSm B",arial,sans-serif;
  font-weight: 400 !important;
  text-transform: uppercase;
  text-decoration: none !important;
  border-radius: 2px !important;
  color: black !important;
  background: #CB5A28;
  text-shadow: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 0.5rem 0.9rem;
  font-size: 1rem;
  border: 2px solid;
  border-color: transparent;
  cursor: pointer; }
  .mps-btn:hover, .mps-btn-hollow:hover, .mps-btn-sec-hollow:hover, .mps-btn-sec:hover, .mps-application-form #MainContent button.form-submit:hover, .mps-btn.focus, .focus.mps-btn-hollow, .focus.mps-btn-sec-hollow, .focus.mps-btn-sec, .mps-application-form #MainContent button.focus.form-submit, .mps-btn:focus, .mps-btn-hollow:focus, .mps-btn-sec-hollow:focus, .mps-btn-sec:focus, .mps-application-form #MainContent button.form-submit:focus, .mps-btn:active, .mps-btn-hollow:active, .mps-btn-sec-hollow:active, .mps-btn-sec:active, .mps-application-form #MainContent button.form-submit:active {
    color: #b24e23 !important;
    background: white;
    border-color: #535054; }

.mps-btn-hollow, .mps-btn-sec-hollow {
  color: #b24e23 !important;
  background: white;
  border-color: #b24e23; }
  .mps-btn-hollow:hover, .mps-btn-sec-hollow:hover, .mps-btn-hollow.focus, .focus.mps-btn-sec-hollow, .mps-btn-hollow:focus, .mps-btn-sec-hollow:focus {
    color: black !important;
    background: #CB5A28;
    border-color: transparent; }
  .mps-btn-hollow:active, .mps-btn-sec-hollow:active {
    background: #b24e23;
    border-color: transparent;
    color: black !important; }

.mps-btn-sec {
  border-color: #008183;
  background: #008183;
  color: white !important; }
  .mps-btn-sec:hover, .mps-btn-sec.focus, .mps-btn-sec:focus, .mps-btn-sec:active {
    color: #008183 !important;
    background: #ffb2b2;
    border-color: #94AE4A; }

.mps-btn-sec-hollow {
  color: #008183;
  border-color: #94AE4A; }
  .mps-btn-sec-hollow:hover, .mps-btn-sec-hollow.focus, .mps-btn-sec-hollow:focus {
    color: white;
    background: #008183; }
  .mps-btn-sec-hollow:active {
    background: #006365;
    color: white; }

.mps-h2, #homepage .mura-body.mainColContent h2 {
  font-weight: 400;
  color: #18453B;
  letter-spacing: 1.5px; }

.mps-h3 {
  font-weight: 400;
  color: #b24e23;
  letter-spacing: 1.25px; }

.mps-color-highlight {
  color: #b24e23; }

.overview .secondaryPageWrapper .mainCol .associatedImage, .contact-us .secondaryPageWrapper .mainCol .associatedImage, .academic-program .secondaryPageWrapper .mainCol .associatedImage, .financial-aid .secondaryPageWrapper .mainCol .associatedImage, .coursework-requirements .secondaryPageWrapper .mainCol .associatedImage, .student-life .secondaryPageWrapper .mainCol .associatedImage, .resources .secondaryPageWrapper .mainCol .associatedImage {
  float: none;
  margin: 10px 0 40px 0; }

@media (max-width: 768px) {
  .secondaryPageWrapper .mainCol img {
    padding: 4px; } }

/* HOMEPAGE */
#homepage .mura-body.mainColContent h2 {
  text-align: center; }

#homepage .mura-body.mainColContent #apply-btn > .mps-btn, #homepage .mura-body.mainColContent #apply-btn > .mps-btn-hollow, #homepage .mura-body.mainColContent #apply-btn > .mps-btn-sec-hollow, #homepage .mura-body.mainColContent #apply-btn > .mps-btn-sec, #homepage .mura-body.mainColContent .mps-application-form #MainContent #apply-btn > button.form-submit, .mps-application-form #MainContent #homepage .mura-body.mainColContent #apply-btn > button.form-submit {
  margin-top: 12.5px;
  margin-top: 0.8rem; }

#homepage .mura-body.mainColContent hr {
  width: 95%;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem; }

#homepage .mura-body.mainColContent .mps-home-intro p {
  text-align: center; }

#homepage .mura-body.mainColContent .mps-home-intro #apply-btn {
  text-align: center; }

#homepage .mura-body.mainColContent .intro-header {
  color: #535054;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1.75px;
  line-height: 1.2; }

#homepage .mura-body.mainColContent .fa {
  color: #b24e23;
  font-size: 3.45rem;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

#homepage .mura-body.mainColContent .mps-icons-home hr {
  margin-top: 12px;
  margin-bottom: 12px; }

#homepage .mura-body.mainColContent .mps-icon-area:first-of-type {
  padding-top: 10px;
  padding-top: 1rem; }

#homepage .mura-body.mainColContent .mps-icon-area {
  padding-top: 1.875rem;
  padding-bottom: 1.25rem; }
  #homepage .mura-body.mainColContent .mps-icon-area .mps-icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  #homepage .mura-body.mainColContent .mps-icon-area .mps-icon-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
    letter-spacing: 0.25px; }
  #homepage .mura-body.mainColContent .mps-icon-area ul {
    margin-bottom: 20px;
    margin-bottom: 1.25rem; }
  #homepage .mura-body.mainColContent .mps-icon-area p, #homepage .mura-body.mainColContent .mps-icon-area h3 {
    text-align: center; }

#homepage .mps-homepage-news div.mura-index div.item {
  padding-left: 0 !important; }
  #homepage .mps-homepage-news div.mura-index div.item .image {
    position: relative;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-bottom: 0.625rem;
    text-align: center; }
  #homepage .mps-homepage-news div.mura-index div.item .summary {
    font-size: 0.92rem; }

#homepage .mps-pre-footer {
  padding: 0 12px; }

@media (max-width: 991px) {
  #homepage .mura-body.mainColContent .mps-home-intro p {
    text-align: left; }
  #homepage .mps-pre-footer {
    text-align: center; } }

@media (max-width: 768px) {
  #homepage .mura-body.mainColContent .mps-icon-area .mps-icon, #homepage .mura-body.mainColContent .mps-icon-area .mps-icon-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; } }

/* CONTACT US */
.contact-us .mainColContent {
  margin-top: 40px; }

/* CONTACT US and PROGRAM CONTACTS: Orange fonticon */
.contact-us .sideCol .fa, .program-contacts .mura-index .fa, .faculty .mura-index .fa, .students .mura-index .fa, .executive-committee .mura-index .fa {
  color: #b24e23; }

.contact-us .sideCol .fa-phone, .program-contacts .mura-index .fa-phone, .faculty .mura-index .fa-phone, .students .mura-index .fa-phone, .executive-committee .mura-index .fa-phone {
  font-size: 1.15rem; }

.contact-us .sideCol .fa-envelope, .program-contacts .mura-index .fa-envelope, .faculty .mura-index .fa-envelope, .students .mura-index .fa-envelope, .executive-committee .mura-index .fa-envelope {
  font-size: 0.95rem; }

.contact-us .sideCol .fa-map-marker, .program-contacts .mura-index .fa-map-marker, .faculty .mura-index .fa-map-marker, .students .mura-index .fa-map-marker, .executive-committee .mura-index .fa-map-marker {
  font-size: 1.1rem; }

.contact-us .sideCol .fa-home, .program-contacts .mura-index .fa-home, .faculty .mura-index .fa-home, .students .mura-index .fa-home, .executive-committee .mura-index .fa-home {
  font-size: 1.1rem; }

/* HOW TO APPLY and COURSEWORK & REQUIREMENTS PAGES: styling bullet point margins under ordered lists */
@media (min-width: 768px) {
  .mps-bullet-point ul li {
    margin-left: 0.5in; } }

@media (max-width: 767px) {
  .mps-bullet-point ul li {
    margin-left: 0.2in !important; } }

/* HOW TO APPLY: Tabs styling */
@media (min-width: 768px) {
  .mps-tabs-border {
    display: inline-block; }
  .tab-content {
    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea; } }

ul.nav-tabs > li.nav-item > a.nav-link.active {
  background: #eee; }

/* MPS APPLICATION FORM */
.mps-application-form #MainContent .mura-section {
  padding-top: 30px;
  padding-top: 1.875rem;
  color: #b24e23;
  font-size: 1.75rem; }

.mps-application-form #MainContent .mura-control-group > label {
  font-weight: 400; }

.mps-application-form #MainContent button.form-submit {
  /* stylelint-disable */
  /* stylelint-enable */
  margin-bottom: 2rem;
  font-size: 16px; }

@media screen and (min-width: 1200px) {
  .mps-application-form #MainContent .mura-control-group {
    width: 75%; } }

/* FACULTY PAGE and PROGRAM CONTACTS: Layout */
.faculty .mura-index div div.item .image img, .program-contacts .mura-index div div.item .image img, .students .mura-index div div.item .image img, .executive-committee .mura-index div div.item .image img {
  padding: 0px; }

.faculty .mura-index div div.item .title, .program-contacts .mura-index div div.item .title, .students .mura-index div div.item .title, .executive-committee .mura-index div div.item .title {
  font-size: 1.25rem; }

.faculty .mura-index div div.item .summary a, .program-contacts .mura-index div div.item .summary a, .students .mura-index div div.item .summary a, .executive-committee .mura-index div div.item .summary a {
  font-weight: 400; }

.faculty .mura-index div div.item .summary div.mps-row div:nth-child(1), .program-contacts .mura-index div div.item .summary div.mps-row div:nth-child(1), .students .mura-index div div.item .summary div.mps-row div:nth-child(1), .executive-committee .mura-index div div.item .summary div.mps-row div:nth-child(1) {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%; }

@media (min-width: 1200px) {
  .faculty .mura-index div div.item .summary div.row div:nth-child(2), .faculty .mura-index div div.item .summary div.mps-row div:nth-child(2), .program-contacts .mura-index div div.item .summary div.row div:nth-child(2), .program-contacts .mura-index div div.item .summary div.mps-row div:nth-child(2), .students .mura-index div div.item .summary div.row div:nth-child(2), .students .mura-index div div.item .summary div.mps-row div:nth-child(2), .executive-committee .mura-index div div.item .summary div.row div:nth-child(2), .executive-committee .mura-index div div.item .summary div.mps-row div:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .faculty .mura-index div div.item .summary div.row div:nth-child(2), .faculty .mura-index div div.item .summary div.mps-row div:nth-child(2), .program-contacts .mura-index div div.item .summary div.row div:nth-child(2), .program-contacts .mura-index div div.item .summary div.mps-row div:nth-child(2), .students .mura-index div div.item .summary div.row div:nth-child(2), .students .mura-index div div.item .summary div.mps-row div:nth-child(2), .executive-committee .mura-index div div.item .summary div.row div:nth-child(2), .executive-committee .mura-index div div.item .summary div.mps-row div:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; } }

@media only screen and (max-width: 767px) {
  .faculty .mura-index div div.item, .program-contacts .mura-index div div.item, .students .mura-index div div.item, .executive-committee .mura-index div div.item {
    padding-left: 0px !important;
    border-bottom: 1px solid #eaeaea; }
    .faculty .mura-index div div.item .image, .program-contacts .mura-index div div.item .image, .students .mura-index div div.item .image, .executive-committee .mura-index div div.item .image {
      margin: 0 0 0.625rem 0;
      position: relative;
      text-align: center; }
    .faculty .mura-index div div.item .title, .program-contacts .mura-index div div.item .title, .students .mura-index div div.item .title, .executive-committee .mura-index div div.item .title {
      margin-bottom: 0.8rem;
      text-align: center; }
    .faculty .mura-index div div.item .summary div div:nth-child(1), .faculty .mura-index div div.item .summary div.mps-row div:nth-child(1), .program-contacts .mura-index div div.item .summary div div:nth-child(1), .program-contacts .mura-index div div.item .summary div.mps-row div:nth-child(1), .students .mura-index div div.item .summary div div:nth-child(1), .students .mura-index div div.item .summary div.mps-row div:nth-child(1), .executive-committee .mura-index div div.item .summary div div:nth-child(1), .executive-committee .mura-index div div.item .summary div.mps-row div:nth-child(1) {
      text-align: center;
      margin-bottom: 0.625rem; }
    .faculty .mura-index div div.item .summary div div:nth-child(2), .faculty .mura-index div div.item .summary div.mps-row div:nth-child(2), .program-contacts .mura-index div div.item .summary div div:nth-child(2), .program-contacts .mura-index div div.item .summary div.mps-row div:nth-child(2), .students .mura-index div div.item .summary div div:nth-child(2), .students .mura-index div div.item .summary div.mps-row div:nth-child(2), .executive-committee .mura-index div div.item .summary div div:nth-child(2), .executive-committee .mura-index div div.item .summary div.mps-row div:nth-child(2) {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; }
  .program-contacts .mura-index div div.item .summary {
    text-align: center; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .faculty .mura-index div div.item .summary div div:nth-child(1), .faculty .mura-index div div.item .summary div.mps-row div:nth-child(1), .program-contacts .mura-index div div.item .summary div div:nth-child(1), .program-contacts .mura-index div div.item .summary div.mps-row div:nth-child(1), .students .mura-index div div.item .summary div div:nth-child(1), .students .mura-index div div.item .summary div.mps-row div:nth-child(1), .executive-committee .mura-index div div.item .summary div div:nth-child(1), .executive-committee .mura-index div div.item .summary div.mps-row div:nth-child(1) {
    margin-bottom: 0.625rem; }
  .faculty .mura-index div div.item .summary div div:nth-child(2), .faculty .mura-index div div.item .summary div.mps-row div:nth-child(2), .program-contacts .mura-index div div.item .summary div div:nth-child(2), .program-contacts .mura-index div div.item .summary div.mps-row div:nth-child(2), .students .mura-index div div.item .summary div div:nth-child(2), .students .mura-index div div.item .summary div.mps-row div:nth-child(2), .executive-committee .mura-index div div.item .summary div div:nth-child(2), .executive-committee .mura-index div div.item .summary div.mps-row div:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; } }

/* STUDENT LIFE PAGE */
.grad-guide {
  display: inline-block; }
  .grad-guide .sec-heading-red-orange {
    background: #b24e23; }
  .grad-guide h2 {
    text-align: center;
    color: white;
    margin-bottom: 0;
    padding: 6px; }
  .grad-guide .well {
    background: transparent; }
  .grad-guide .grad-guide-img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 16px; }

.student-life figure {
  max-width: 100%;
  background: none;
  border: 0px; }

/* NEWS PAGE: Content Layout */
.news .mura-index div div.item {
  padding-top: 12px !important;
  padding-right: 12px; }

@media only screen and (max-width: 767px) {
  .news .mura-index div div.item {
    padding: 0 0 6px 0 !important;
    border-bottom: 1px solid #f5f5f5; }
    .news .mura-index div div.item .image {
      position: relative;
      text-align: center; }
    .news .mura-index div div.item .date.releaseDate {
      margin-top: 0.6rem; } }

/* Fascination of Plants Day @ MSU: Temporary Page */
.fascination-of-plants-day-msu ol#crumblist {
  display: none; }

.fascination-of-plants-day-msu h1.mura-page-title.pageTitle {
  display: none; }

.fascination-of-plants-day-msu #MainContent {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }
  .fascination-of-plants-day-msu #MainContent h1, .fascination-of-plants-day-msu #MainContent h2 {
    font-weight: 400;
    color: #18453B;
    letter-spacing: 1.5px; }
  .fascination-of-plants-day-msu #MainContent label {
    display: none; }
  .fascination-of-plants-day-msu #MainContent .a2a_kit.a2a_kit_size_32.a2a_default_style.social-share {
    display: none; }

.fascination-of-plants-day-msu .mps-fopd-hero-text {
  background: url(/sites/_pmsb/assets/Image/Fascination_of_Plants_Day/2019/_HJS4370-bg-solid-web-sm.jpg) center;
  padding: 273px 0 154px 0;
  text-align: center; }
  .fascination-of-plants-day-msu .mps-fopd-hero-text h1, .fascination-of-plants-day-msu .mps-fopd-hero-text h2 {
    color: #fff !important;
    text-shadow: 3px 3px black; }
  .fascination-of-plants-day-msu .mps-fopd-hero-text h1 {
    font-size: 2.8rem; }
  .fascination-of-plants-day-msu .mps-fopd-hero-text h2 {
    font-size: 2.2rem; }

.fascination-of-plants-day-msu .mps-fopd-content div.row {
  padding-top: 40px; }

.fascination-of-plants-day-msu .mps-fopd-content img {
  padding: 0px; }

.fascination-of-plants-day-msu .mps-fopd-content h2 {
  font-size: 30px;
  font-weight: 600 !important;
  margin-top: 0; }
  .fascination-of-plants-day-msu .mps-fopd-content h2 a {
    text-decoration: none; }

.fascination-of-plants-day-msu .mps-fopd-content h3 {
  font-weight: 300;
  color: #18453B;
  margin-top: 0; }
  .fascination-of-plants-day-msu .mps-fopd-content h3 a {
    text-decoration: none; }

.fascination-of-plants-day-msu .mps-fopd-content p.lead {
  margin: 0 auto;
  font-weight: 200;
  font-size: 18px; }

.fascination-of-plants-day-msu .mps-fopd-content .mps-btn-hollow, .fascination-of-plants-day-msu .mps-fopd-content .mps-btn-sec-hollow {
  margin-bottom: 30px; }

.fascination-of-plants-day-msu .mps-fopd-content .mps-fopd-top-btns div {
  padding-right: 0; }

.fascination-of-plants-day-msu .mps-fopd-content .mps-fopd-card {
  margin-bottom: 50px; }
  .fascination-of-plants-day-msu .mps-fopd-content .mps-fopd-card img {
    margin-bottom: 16px;
    width: 94%;
    display: inherit;
    margin-left: auto;
    margin-right: auto; }
  .fascination-of-plants-day-msu .mps-fopd-content .mps-fopd-card h3 {
    font-size: 21px;
    text-align: center; }
  .fascination-of-plants-day-msu .mps-fopd-content .mps-fopd-card ul {
    margin-bottom: 20px;
    padding-left: 30px; }
  .fascination-of-plants-day-msu .mps-fopd-content .mps-fopd-card li {
    padding-right: 10px;
    font-weight: 300; }

.fascination-of-plants-day-msu .mps-fopd-content div.mps-fopd-events-btn {
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.fascination-of-plants-day-msu .mps-fopd-content div.fopd-partner-logos {
  margin-bottom: 40px;
  text-align: center; }
  .fascination-of-plants-day-msu .mps-fopd-content div.fopd-partner-logos .col-md-6:first-of-type {
    padding-bottom: 50px; }

.fascination-of-plants-day-msu .mps-fopd-content div.fopd-sponsors h2 {
  padding-bottom: 20px; }

.fascination-of-plants-day-msu .mps-fopd-content div.fopd-sponsors:not(h2) > div {
  padding-left: 30px;
  padding-right: 40px;
  margin-right: 0px; }

.fascination-of-plants-day-msu .mps-fopd-content div.fopd-logos {
  display: inline-block;
  width: 100%; }
  .fascination-of-plants-day-msu .mps-fopd-content div.fopd-logos div {
    text-align: center;
    height: 100px; }

.fascination-of-plants-day-for-press ol#crumblist {
  display: none; }

.fascination-of-plants-day-for-press h1 {
  color: #18453B;
  margin-top: 35px; }

.fascination-of-plants-day-for-press h2 {
  font-size: 27px;
  font-weight: 600;
  color: #18453B; }

.fascination-of-plants-day-for-press div.fopd-press-area .mura-item-content img {
  padding: 3px; }

.fascination-of-plants-day-for-press div.fopd-press-area .mura-object:last-child {
  margin-bottom: 12px; }

.fascination-of-plants-day-for-press div.fopd-press-area .mura-item-meta__summary {
  text-align: center;
  font-size: 0.95rem; }

@media (min-width: 768px) and (max-width: 991px) {
  .fascination-of-plants-day-msu .mps-fopd-hero-text h1 {
    font-size: 2.5rem; }
  .fascination-of-plants-day-msu .mps-fopd-hero-text h2 {
    font-size: 2rem; }
  .fascination-of-plants-day-msu .mps-fopd-content div.row {
    padding-top: 27px; }
  .fascination-of-plants-day-msu .mps-fopd-content .mps-btn-hollow, .fascination-of-plants-day-msu .mps-fopd-content .mps-btn-sec-hollow {
    margin-bottom: 20px; }
  .fascination-of-plants-day-msu .mps-fopd-content .mps-fopd-card img {
    margin-bottom: 16px;
    width: 100%; } }

@media (max-width: 767px) {
  .fascination-of-plants-day-msu .mps-fopd-hero-text {
    padding: 75px 15px;
    margin: 0 -15px;
    background-size: cover; }
    .fascination-of-plants-day-msu .mps-fopd-hero-text h1 {
      font-size: 2.3rem; }
    .fascination-of-plants-day-msu .mps-fopd-hero-text h2 {
      font-size: 1.9rem; }
  .fascination-of-plants-day-msu .mps-fopd-content div.row {
    padding-top: 27px; }
  .fascination-of-plants-day-msu .mps-fopd-content .mps-fopd-top-btns {
    text-align: center; }
    .fascination-of-plants-day-msu .mps-fopd-content .mps-fopd-top-btns div {
      padding-right: 15px; }
  .fascination-of-plants-day-msu .mps-fopd-content .mps-btn-hollow, .fascination-of-plants-day-msu .mps-fopd-content .mps-btn-sec-hollow {
    margin-bottom: 16px;
    float: none !important; }
  .fascination-of-plants-day-msu .mps-fopd-content .mps-fopd-card {
    margin-bottom: 40px; }
    .fascination-of-plants-day-msu .mps-fopd-content .mps-fopd-card img {
      margin-bottom: 16px;
      width: 100%; }
  .fascination-of-plants-day-msu .mps-fopd-content div.fopd-logos div {
    height: 90px; }
  .fascination-of-plants-day-for-press div.fopd-press-area .mura-item-content img {
    padding: 3px 0; }
  .fascination-of-plants-day-for-press div.fopd-press-area .mura-item-meta__summary {
    text-align: left; } }

/* HOMEPAGE OVERRIDES */
.collegeName {
  display: none; }
